# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Environments
.venv/
venv/
env/
conda/
*.conda

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Results (optional: keep images but ignore heavy temp files)
results/**/*.tmp

